/* Basic configuration for the Bovine TB pipeline */

manifest {
	author = "Richard Ellis"
	homePage = "https://github.com/APHA-CSU/btb-seq"
    description = "This is the updated pipeline for APHA's processing of Mycobacterium bovis WGS data. This has been built to run using nextflow"
    mainScript = "main.nf"
}

/* remove contents of work directory after pipeline completes sucessfully */
cleanup = true

/* Docker options */
docker {
    enabled = 'true'
    fixOwnership = 'true'
    runOptions = '--user "$(id -u):$(id -g)"'
}