/* Basic configuration for the Bovine TB pipeline */

manifest {
	author = "Richard Ellis"
	homePage = "https://github.com/ellisrichardj/BovTB-nf"
    description = "This is the updated pipeline for APHA's processing of Mycobacterium bovis WGS data. This has been built to run using nextflow"
    mainScript = "bTB-WGS_process.nf"
}

/* ensure the use of nextflow DSL1 syntax */
NXF_DEFAULT_DSL=1

profiles {
    local {
    }
    awsbatch {
	process.executor = 'awsbatch'
	process.queue = 'CSU-P1'
	process.container = '584308849672.dkr.ecr.eu-west-1.amazonaws.com/batch:latest'
	aws.region = 'eu-west-1'
	batch.cliPath = '/usr/local/bin/aws'
	workDir = 's3://s3-csu-004/work/'
	region = 'eu-west-1'
    }
}

/* remove work directory pipeline completes sucessfully */ 
cleanup = true

docker { fixOwnership = 'true'
  envWhitelist = 'AWS_ACCESS_KEY_ID,AWS_SECRET_ACCESS_KEY'
}

fusion {
  enabled = true
}

wave {
    enabled = true
}

/* location of reference information */

params.ref = "$baseDir/references/Mycbovis-2122-97_LT708304.fas"
params.refgbk = "$baseDir/references/Mycbovis-2122-97_LT708304.gb"
params.rptmask = "$baseDir/references/DataDrivenMerge20.bed"
params.allsites = "$baseDir/references/All-sites.bed"
params.stage1pat = "$baseDir/references/Stage1_patterns/"
params.adapters = "$baseDir/references/adapter.fasta"
params.discrimPos = "$baseDir/references/DiscrimPos.tsv"

/* location of python scripts */

params.pypath = "$baseDir/pyscripts/"

/* quality thresholds */
env.min_mean_cov = 8
env.min_cov_snp = 5
env.alt_prop_snp = 0.2
env.min_qual_snp = 150
env.min_qual_nonsnp = 0

/* quality thresholds (variant calling) */
params.MAP_QUAL = 0
params.BASE_QUAL = 10
params.PLOIDY = "1"

/* quality thresholds (snp filtering) */
params.MIN_READ_DEPTH = 8
params.MIN_ALLELE_FREQUENCY_ALT = 0.8
params.MIN_ALLELE_FREQUENCY_REF = 0.7

/* location of dependancies */

params.kraken2db = "/opt/Kraken2/db/minikraken2_v1_8GB/"
