/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
profiles {
    docker {
        process.container = 'new-btb-seq:latest'
        docker.enabled = true
    }
}

cleanup = false