/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
profiles {
    docker {
        process.container = 'aphacsubot/btb-seq:master'
        docker.enabled = true
    }
}

cleanup = false
